@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1763359995078') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaojiantou:before {
  content: "\f004d";
}

.icon-kefu:before {
  content: "\e741";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-MBEfenggeduosetubiao-gouwuche:before {
  content: "\e621";
}

.icon-fanhuidingbujiantou:before {
  content: "\e61c";
}

